<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joker</title>
</head>
<body>
    <div class="row">
        <div class="column main" id = "comic2">
            <h1>Joker</h1>
            <p>In the comics, the Joker is portrayed as a master criminal whose characterization has varied. The original and currently dominant image is of a highly intelligent homicidal maniac with a twisted, sadistic sense of humor. His most prominent origin story is that he fell into a vat of chemicals, which bleached his skin white, turned his hair green and turned his lips bright red, giving him the appearance of a clown. His crazed grin, psychotic, clown-like appearance and sadistic practical jokes all make the Joker one of the most diabolical villains of DC Comics and of all time.</p>
        </div>
        <div class="column photo">
            <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2021/03/JOKER_01_603d34209aaab7.27418066.jpg" alt="">
        </div>
    </div>
</body>
</html>